
<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Destinatarios</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    <form [formGroup]="transferForm" class="example-form">
            <p>
                <mat-form-field class="example-full-width">
                    <mat-label>Nombre</mat-label>
                    <input type="text"
                           placeholder="Buscar"
                           aria-label="Number"
                           matInput
                           [formControl]="myControl" 
                           [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name" (onSelectionChange)="getSelected(option)">
                        {{ option.name +"  -- "+ option.accountNumber}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
            </p>
            
            <p>
                <mat-form-field appearance="legacy">
                    <mat-label>Monto</mat-label>
                    <input matInput formControlName="amount" placeholder="Monto">
                </mat-form-field>
            </p>

            <div class="row text-right mt-4">
                <div class="col-12">
                    <button [disabled]="transferForm.invalid" mat-flat-button color="accent" (click)="send()">
                        Transferir
                    </button>
                </div>
            </div>
    </form>
    </mat-card-content>
</mat-card>